* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #5ed798;
  --secondary-color: #060606;
  --lightblack-color: #101213;
  --white-color: #ffffff;
  --lightgrey-color: #d3d3d3;
  --black-color: #000000;
  --red-color: #e63600;
  --lightred-color: #330c00;
  --foreground-text-color: #8a919e;
  --purple-color: #a371f7;
  --green-color: #3fb950;
  --orange-color: #f78166;
  --yellow-color: #e3b341;
  --orange-color: #facd6f;
  --lightorange-color: #322214;
  --violet-color: #b794f4;
  --lightviolet-color: #322659;
  --lightprimary-color: #0f3e25;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-color);
}

/* ClashGrotesk-Bold */
@font-face {
  font-family: "ClashGrotesk-Bold";
  src: url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Bold.woff2")
      format("woff2"),
    url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Bold.woff")
      format("woff"),
    url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Bold.ttf")
      format("truetype"),
    url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Bold.eot")
      format("embedded-opentype");
  font-weight: bold;
  font-style: normal;
}

/* ClashGrotesk-Extralight */
@font-face {
  font-family: "ClashGrotesk-Extralight";
  src: url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Extralight.woff2")
      format("woff2"),
    url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Extralight.woff")
      format("woff"),
    url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Extralight.ttf")
      format("truetype"),
    url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Extralight.eot")
      format("embedded-opentype");
  font-weight: 100;
  font-style: normal;
}

/* ClashGrotesk-Light */
@font-face {
  font-family: "ClashGrotesk-Light";
  src: url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Light.woff2")
      format("woff2"),
    url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Light.woff")
      format("woff"),
    url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Light.ttf")
      format("truetype"),
    url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Light.eot")
      format("embedded-opentype");
  font-weight: 200;
  font-style: normal;
}

/* ClashGrotesk-Medium */
@font-face {
  font-family: "ClashGrotesk-Medium";
  src: url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Medium.woff2")
      format("woff2"),
    url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Medium.woff")
      format("woff"),
    url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Medium.ttf")
      format("truetype"),
    url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Medium.eot")
      format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}

/* ClashGrotesk-Regular */
@font-face {
  font-family: "ClashGrotesk-Regular";
  src: url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Regular.woff2")
      format("woff2"),
    url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Regular.woff")
      format("woff"),
    url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Regular.ttf")
      format("truetype"),
    url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Regular.eot")
      format("embedded-opentype");
  font-weight: 300;
  font-style: normal;
}

/* ClashGrotesk-Semibold */
@font-face {
  font-family: "ClashGrotesk-Semibold";
  src: url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Semibold.woff2")
      format("woff2"),
    url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Semibold.woff")
      format("woff"),
    url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Semibold.ttf")
      format("truetype"),
    url("https://seconds-fonts.s3.ap-south-1.amazonaws.com/fonts/ClashGrotesk-Semibold.eot")
      format("embedded-opentype");
  font-weight: 600;
  font-style: normal;
}
